<footer>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h4>&copy; 2022 - Desenvolvido por - <a href="https://github.com/rogerio-gomes-da-silva" target="_blank">Rogério Gomes</a></h4>
                    <p>Click para ser direcionado para meu github com todos os códigos dos meus projetos.</p>
                </div>
                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h4>&copy; 2022 - Desenvolvido por - <a href="https://www.linkedin.com/in/rogeriogsilva/" target="_blank">Rogério Gomes</a></h4>
                    <p>Click para ser direcionado para meu linkedin com todas minhas informações certificados e contato.</p>
                </div>
            </div>
        </div>
    </nav>
</footer>