@model Lanche

<div class="col-sm-6 col-md-6 col-lg-6">
    <p><img src="@Model.ImagemUrl"></p>
    <h4>@Model.Nome</h4>
    <p>@Model.DescricaoCurta</p>
    <p>Preço : @Model.Preco.ToString("c")</p>
</div>