<div class="container text-center">
    <img class="img-fluid" src="~/img/faleconosco1.png" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/img/Envelope-icon24.png" />
            </span>
            <h5><a href="mailto:rogerim00@hotmail.com.com">Enviar um e-mail</a></h5>
            <br />
            <span>
                <img src="~/img/phone-app-icon.png" />
            </span>
            <h5>(62) 0000-1111</h5>
            <br />
            <span>
                <img src="~/img/Home-iconred.png" />
            </span>
            <h5>Av. Juscelino Kubichek Nº0000 - 74000-000 - Goiânia</h5>
        </p>
    </div>
</div>